@model Cinema.Web.Models.EmailViewModel

@{
    ViewBag.Title = "Restore password";
}

<script src="~/Scripts/Custom/cusotm_validators.js"></script>
<script src="~/Scripts/Custom/restore_password.js"></script>

<div class="page-header">
    <h1>Restore password</h1>
</div>

@using (Html.BeginForm("RestorePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", id="restore-password-form"}))
{
    @Html.AntiForgeryToken()
    @Html.Partial("FormValidation")
    <div class="alert alert-info">
        <strong>Info!</strong> Input your email to get a mail with link to restore your password.
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email, new {@class = "control-label col-sm-2"})
        @Html.TextBoxFor(x => x.Email, new {@class = "form-control col-sm-4"})
        <span class="help-block col-sm-6 hidden" id="email-label">Email is not valid.</span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-success" value="Restore password" id="submit-btn"/>
        </div>
    </div>
}